<h1>LOGIN</h1>

<form action="/auth/login" method="POST">

<label>Username<input type="text" placeholder="Your name here" required name="username"></label>

<label>Password<input type="password" placeholder="Your password here" required name="password"></label>

<button>Login</button>

</form>


<% if (typeof errorMessage !== 'undefined') { %>
  <p><%= errorMessage %></p>
  <% } %>