<link rel="stylesheet" href="/stylesheets/styleLogSign.css" />

<div class="formContainer">
<div class = "form">
<h1>LOGIN</h1>

<%if(!user) {%>
  <h3>Please Log In first to access the Home Food Buddies page.</h3>
<%}%>
<form action="/auth/login" method="POST">

<label>Username:<hr><input type="text" placeholder="Your name here" name="username" required ></label>

<label>Password:<hr><input type="password" placeholder="Your password here" name="password" required ></label>

<button>Login</button>

</form>
</div>
</div>
<div class="container">
  <div class="jumbotron text-center text-primary">
      <h1><span class="fa fa-lock"></span> Social Authentication</h1>
      <p>Login or Register with:</p>
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
  </div>
</div>
<% if (typeof errorMessage !== 'undefined') { %>
  <p><%= errorMessage %></p>
  <% } %>