<form action="auth/login" method="POST">
<label>Username<input type="text" placeholder=""></label>
<label>Password<input type="password" placeholder=""></label>
<button type="submit">Log In</button>
</form>