<link rel="stylesheet" href="/stylesheets/styleLogSign.css" />


<%if(!user) {%>
  <h3>Please register to access the Food Buddies</h3>
<%}%>

<div class = "form">

<h1>LOGIN</h1>

<form action="/auth/login" method="POST">

<label>Username:<input type="text" placeholder="Your name here" name="username" required ></label>

<label>Password:<input type="password" placeholder="Your password here" name="password" required ></label>

<button>Login</button>

</form>
</div>

<% if (typeof errorMessage !== 'undefined') { %>
  <p><%= errorMessage %></p>
  <% } %>