<link rel="stylesheet" href="/stylesheets/styleLogSign.css" />
<div class="formContainer">
<div class="form">
  
<h1>Signup</h1>

<form method="POST" action="/auth/signup">

  <label>Username:<input type="text" name="username" placeholder="Enter username" required /></label>

  <label>Password:<input type="password" name="password" placeholder="Enter password" required /></label>

  <button>Create Account</button>

</form>
</div>
</div>
<% if (typeof errorMessage !== 'undefined') { %>
  <p><%= errorMessage %></p>
  <% } %>

