<link rel="stylesheet" href="/stylesheets/styleLogSign.css" />
<div class="formContainer">
<div class="form">
<h1>Sign Up</h1>
<%if(!user) {%>
  <h3>Please Sign Up first if you don't have an account.</h3>
<%}%>
<form method="POST" action="/auth/signup">

  <label>Username:<input type="text" name="username" placeholder="Your name here" required /></label>

  <label>Password:<input type="password" name="password" placeholder="Your password here" required /></label>

  <button>Create Account</button>

</form>
</div>
</div>
<% if (typeof errorMessage !== 'undefined') { %>
  <p><%= errorMessage %></p>
  <% } %>

