<img id="backgroundImageHome" src="../images/homefoodpage.png">
<h3>Are you curious about trying new meals from different continents?</h3>
<h3>Then let Food Buddies gives you some ideas from different continents to try</h3>
<br>
<h3>Please Login  or register to access Food Buddies</h3>