<img id="backgroundImageHome" src="../images/homefoodpage.png">
<h3>Are you curious about trying new meals from different continents?</h3>
<h3>Then let Food Buddies gives you some ideas of meals to try next</h3>

<h3>Please login or register to access Food Buddies</h3>