<div style="background-image: url(../images/homefoodpage.png)"></div>
<div class="home">
<h3 style="font-size: 28px">Are you curious about trying new meals from different continents?</h3>
<h3 style="font-size: 28px">Then let Food Buddies gives you some ideas!</h3>
<h3 style="font-size: 28px">On Food Buddies you could find various type of meal collections and their best recipes with an easy access</h3>
<h3 style="font-size: 28px">Curious, if you are not a member then join Food Buddies now</h3>
<br>
<h3>Please <a href="auth/login" class="href">Login</a> or <a href="auth/signup" class="href">Register</a> to access Food Buddies</h3></div>

