<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title></title>
    <title>Welcome Food Buddies</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <div>
        <nav class="nav-bar">
          <a href="/"><img src="/images/FOOD BUDDIES (5).png" height="180px" width="auto" /></a>
          <ul>
            <%if(!user) {%>
              <li><a href="/">Home</a></li>
          <%}%>
          <%if(user) {%>
            <li><a href="/auth/home-food-buddies">Food Buddies</a></li>
            <li><a href="/auth/profile">My Profile</a></li>
        <%}%>
            <%if(!user) {%>
              <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login"> Login</a> </li>
          <%}%>
          <%if(user) {%>
            <li><a href="/auth/logout">Logout</a></li>
        <%}%>
          </ul>
        </nav>
      </div>
    </header>
    
    <%-body%>

    <script src="/js/script.js"></script>
  </body>
</html>
