<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <title>Welcome Food Buddies</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <div>
        <nav class="nav-bar">
          <img src="/images/FOOD BUDDIES (5).png" height="180px" width="auto" />
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/home-food-buddies">Home Food Buddies</a></li>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login"> Login</a> </li>
          </ul>
        </nav>
      </div>
    </header>
    
    <%-body%>

    <a href="/auth/logout"><button type="submit">Log Out</button></a>
    <script src="/js/script.js"></script>
  </body>
</html>
