<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
<<<<<<< HEAD
      <title>Welcome Food Buddies</title>
=======
      <title><%= title %></title>
>>>>>>> lu-step2
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

<<<<<<< HEAD
   <%-body%> 
=======
      <%- body %> 
>>>>>>> lu-step2

      <script src="/js/script.js"></script>
   </body>

</html>