<h2>This is your food buddies page</h2>


<!--
login > profile > CRUD only on recipes >  update and delete
                > home-food-buddies > all filters option available > selected-recipes as result > add to the profile
              

-->


<h4>Welcome <%- loginUser.username %> </h4>

<p>Liked Recipe</p>
<% loginUser.likedRecipes.forEach(recipe => { %>
 <p><%= recipe.name %>  </p>
 <p><%= recipe.continent %>  </p>
 <p><%= recipe.meal %>  </p>
<% }) %>