<link rel="stylesheet" href="/stylesheets/styleLogSign.css" />
<h1>Update Recipe</h1>
<div class="form">

<form method="POST" action="/update-recipe/:recipeId">

  <label>Name:<input type="text" name="username" placeholder=<%recipeId%> /></label>

  <button><a>Submit</a></button>

</form>
</div>