<h3>Here you can update your meals</h3>

<div class="updateLikedRecipesClass ">
<form method="POST" action="/recipes/update-recipe/<%= findRecipe.id %>" class="formUpdate">

  <label>Meal name :<hr><input type="text" name="name" value="<%- findRecipe.name %>" required /></label>

  <label>Continent : <hr>
    <select name="continent">
      <% if (findRecipe.continent === "America") { %>
      <option value="America" selected>America</option>
      <option value="Europe">Europe</option>
      <option value="Asia">Asia</option>
      <option value="Africa">Africa</option>

      <% } else if(findRecipe.continent === "Europe"){ %>
      <option value="America">America</option>
      <option value="Europe" selected>Europe</option>
      <option value="Asia">Asia</option>
      <option value="Africa">Africa</option>

      <% } else if(findRecipe.continent === "Asia"){ %>
        <option value="America">America</option>
        <option value="Europe">Europe</option>
        <option value="Asia" selected>Asia</option>
        <option value="Africa">Africa</option>

        <% } else if(findRecipe.continent === "Africa"){ %>
       <option value="America">America</option>
       <option value="Europe">Europe</option>
       <option value="Asia">Asia</option>
       <option value="Africa" selected>Africa</option>

      <% } %>

    </select>
  </label>

  <label>Type of Meal : <hr>
    <select name="meal">
      <% if (findRecipe.meal === "breakfast") { %>
        <option value="breakfast" selected>Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
  
        <% } else if(findRecipe.meal === "lunch"){ %>
       <option value="breakfast">Breakfast</option>
        <option value="lunch" selected>Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>

      <% } else if(findRecipe.meal === "dinner"){ %>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner" selected>Dinner</option>
        <option value="dessert">Dessert</option>

        <% } else if(findRecipe.meal === "dessert"){ %>
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
          <option value="dessert" selected>Dessert</option>

        <% } %>

    </select>
    </label>

    <label>Info :<hr><input type="text" name="info" value="<%- findRecipe.info %>"/></label>

    <button>Update Meal</button>

</form>
</div>